
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 400px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: orangered;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 10px skyblue;
  }
  
  .task-list {
    list-style-type: none;
    padding: 0;
  }
  
  .task-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .task-list li input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .task-list li span {
    flex-grow: 1;
  }
  
  .task-list li button {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    box-shadow: 0 0 10px skyblue;
  }
  .div{
    box-shadow: 0 0 10px black;
    color: aqua;
  }
  